<div class="comments">
  <div id="message-{{id}}" class="comment">
    <strong class="comment-author">{{username}}</strong>
    <li class="comment-date">{{formatDate createdAt}}</li>
    <div class="comment-text">{{text}}</div>
  </div>
</div>